@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  display: flex;
  height: 30px;
  background-color: #fdc026;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  font-size: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 0;
  border-bottom: solid black 1px;
  height: 60px;
  background-color: #fdc026;
  width: 100%;
  margin-left: 0px;
}

.aggiustamenti {
  padding: 3.5rem;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  font-size: 20px;
  z-index: 1000;
  height: 30px;
  width: 100% !important;
}

header div img {
  margin-left: 170px;
}

nav ul {
  display: flex;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 450px;
  margin-top: 100px;
}

nav li {
  margin-right: 3rem;
}

nav a {
  text-decoration: none;
  color: black;
}

.button1 {
  font-size: 15px;
  width: 110px;
  height: 40px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 40px;
  margin-bottom: 90px;
  margin-top: 90px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#box {
  background-color: #fdc026;
  border-bottom: solid black 1px;
  padding-top: 50px;
  height: 450px;
}

.box-text {
  margin-left: 170px;
  font-size: 20px;
}

h1 {
  font-style: italic;
  font-size: 100px;
  margin-bottom: 10px;
}

.box-text p {
  font-size: 27px;
}

.button2 {
  font-size: 15px;
  width: 200px;
  height: 40px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 40px;
  margin-bottom: 90px;
  margin-bottom: 10px;
  margin-left: 170px;
}

.size {
  display: flex;
  justify-content: space-between;
}

.trending {
  margin-right: 40%;
}

.trend {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px;
}

.trend img {
  width: 30px;
  margin-right: 10px;
}

.trend span {
  font-size: 25px;
}

#container {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 10px;
}

.articolo {
  display: flex;
  padding-bottom: 10px;
  margin-top: 20px;
  width: 33%;
  height: 121px;
}

.autore img {
  width: 30px;
  margin-inline: 5px;
  border-radius: 30px;
}

.autore span {
  margin-right: 0;
  position: relative;
  top: -7px;
}

.n {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.268);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  margin-right: 0;
}

h2 {
  font-weight: 800;
  margin-left: 5px;
  margin-block: 10px;
  font-size: 15px;
  line-height: 1.2;
}

h4 {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.455);
  position: relative;
  top: -15px;
}

#sez {
  display: flex;
  margin-top: 50px;
}

.p-button {
  font-family: bold;
  font-size: 19px;
  margin-left: 1px;
  margin-bottom: 10px;
}

.white-button {
  color: rgba(128, 128, 128, 0.566);
  background-color: transparent;
  border-radius: 4px;
  border-color: rgba(128, 128, 128, 0.566);
  font-weight: 500;
  font-size: 15px;
  width: auto;
  height: 40px;
}

.button-box2 {
  margin-top: 10px;
  margin-right: 71px;
}

.more-info {
  display: inline-block;
  margin-right: 15px;
  list-style-type: none;
}

.more-info li {
  display: inline;
  padding: 5px;
  color: rgba(128, 128, 128, 0.566);
  font-size: 13px;
}

.more-info2 {
  display: inline-block;
  margin-right: 80px;
  list-style-type: none;
}

.more-info2 li {
  font-size: 12px;
  display: inline;
  padding: 10px;
  color: red;
}
.more-info3 {
  display: inline-block;
  margin-right: 80px;
  list-style-type: none;
}

.more-info3 li {
  font-size: 12px;
  display: inline;
  padding: 10px;
  color: red;
}

.pippo {
  margin-top: 5px;
  width: 25rem;
}

.pippo ul {
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
  margin-left: -3.1rem;
  width: fit-content;
}

.pippo ul li {
  padding: 10px;
  word-break: break-all;
}

.spazziatura {
  width: 70%;
  margin-right: 30rem;
}

.dettagli-img {
  display: flex;
  margin-left: 196px;
}

.section {
  display: flex;
  width: 60%;
  margin-top: 50px;
  padding: 10px;
  margin-left: 80px;
  max-width: 50rem;
}

.sez-img {
  border-radius: 30px;
  margin-top: 5px;
}

h3 {
  font-size: 20px;
  margin-top: 9px;
}

.grey {
  color: grey;
}

.img-art {
  margin-left: 100px;
  padding-left: -15px;
}

.sez-end {
  margin-left: 10px;
  color: rgb(58, 58, 58);
  background-color: rgba(201, 197, 197, 0.566);
  border: transparent;
  border-radius: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  width: auto;
  height: auto;
}

.star {
  margin-right: 13px;
  margin-bottom: 10px;
}
.star2 {
  margin-right: 13px;
  margin-top: 5px;
  vertical-align: bottom;
}

.container {
  display: flex;
  justify-content: space-between;
}

#correlati {
  flex: 1;
  margin-bottom: 300px;
  margin-left: 85px;
}

.art-img {
  margin-left: 50px;
}

.colonna-destra {
  float: right;
  width: 500px;
  position: sticky;
  top: 100px;
}

.nav-white {
  background-color: white;
  border-bottom: solid black 1px;
}

.green-button {
  background-color: green;
  color: white;
}

.m {
  width: 600px;
  height: 530px;
  float: right;
  margin-top: -6.3rem;
  padding: 3rem;
}

@media screen and ((max-width: 1000px) and (min-width:801px)) {
  #header h1 {
    font-size: 5em;
  }
}
/* Versione tablet */
@media screen and (max-width: 800px) {
  #header svg {
    scale: 1;
  }
  #nav {
    padding-inline: 30px;
  }
  #header h1 {
    font-size: 5em;
  }
  #header h3 {
    font-size: 20px;
  }

  #header svg {
    display: none;
  }
}
@media screen and ((min-width: 481px) and (max-width: 650px)) {
  #menuNav ul li:first-of-type,
  #menuNav ul li:nth-of-type(2),
  #menuNav ul li:nth-of-type(3) {
    display: none;
  }
}
@media screen and ((max-width: 620px) and (min-width:481px)) {
  #header h1 {
    font-size: 4.5em;
  }
  #header {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 480px) {
  #nav ul li:nth-of-type(2),
  #nav ul li:nth-of-type(3) {
    display: none;
  }
  #nav {
    padding-inline-end: 40px;
    padding-inline-start: 20px;
  }
  #nav img {
    width: 8em;
  }
  #header svg {
    display: none;
  }
  #header {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  #header h1 {
    font-size: 60px;
  }
  #header h3 {
    font-size: 20px;
    margin-bottom: 30px;
    width: unset;
  }

  #articol {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    row-gap: 0px;
  }

  #container {
    flex-direction: column;
    padding: 25px;
  }
}
